

input.new-item {
  width: 75%;
  height: 35px;
  margin-top: 25px;
  margin-right: 25px;
}

.list-group-item.new-item {
  height: 100px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-top: 3px;
  line-height: 0.5;
}

.edit {
  width: 100%;
}
.btn-default{
  color: blue;
}

body{
  background-color: #3b5998;
}
.li{
  background-color: grey;
}
#maintitle{
  color: white;
   text-align: center;
}
#subtitle{
  color:white;
   text-align: center;
}
#quote{
  color:white;
  text-align: center;
}
